branches/guse-3.6.1_update/ext/guse/wspgrade/web/WEB-INF/wsdl/serviceInformationImpl/guse.hu/storage/services/monitoring/SystemInformation.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://service.lpds.sztaki.hu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.lpds.sztaki.hu/">

<xs:element name="getAllInformationCommands" type="tns:getAllInformationCommands"></xs:element>

<xs:element name="getAllInformationCommandsResponse" type="tns:getAllInformationCommandsResponse"></xs:element>

<xs:element name="getInformation" type="tns:getInformation"></xs:element>

<xs:element name="getInformationResponse" type="tns:getInformationResponse"></xs:element>

<xs:element name="ping" type="tns:ping"></xs:element>

<xs:element name="pingResponse" type="tns:pingResponse"></xs:element>

<xs:complexType name="getAllInformationCommands">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllInformationCommandsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInformation">
<xs:sequence>
<xs:element name="pCommands" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInformationResponse">
<xs:sequence>
<xs:element name="return" type="tns:commandValueBean" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commandValueBean">
<xs:sequence>
<xs:element name="command" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>