branches/liferay-6.1.1/ext/guse/dci_bridge_service/web/WEB-INF/wsdl/client/CredentialProvider/localhost_8080/wspgrade/CredentialProvider.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://credential.services.pgportal.lpds.sztaki.hu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://credential.services.pgportal.lpds.sztaki.hu/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:element name="get" type="tns:get"></xs:element>

<xs:element name="getResponse" type="tns:getResponse"></xs:element>

<xs:complexType name="get">
<xs:sequence>
<xs:element name="pGroup" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pUser" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pMiddleware" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pVo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>