tags/v1.0/ext/guse/dci_bridge_service/src/conf/xml-resources/jaxb/dci-config/www.shiwa-workflow.eu/documents/10753/45904/dci-bridge_configuration_schema_2012.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="data.dci"
    elementFormDefault="qualified" xmlns:tns="data.dci" version="1.6">
    <xsd:element name="configure">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="middlewares" type="tns:middlewares"></xsd:element>
                <xsd:element name="properties">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="debug">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:byte"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="java">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="callbackurl">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="system">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="metabroker" minOccurs="0">
                                <xsd:simpleType>
                                        <xsd:restriction base="xsd:string"/>
                                    </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="path" minOccurs="0">
                                <xsd:simpleType>
                                        <xsd:restriction base="xsd:string"/>
                                    </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="serviceresource">
        <xsd:sequence>
            <xsd:element name="name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="inputs">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="port" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="middlewares">
        <xsd:sequence>
            <xsd:element name="middleware" type="tns:middleware" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="middleware">
        <xsd:sequence>
            <xsd:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="certificate" type="tns:certificate" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="plugin">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="threads">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:short"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="required"/>
        <xsd:attribute name="enabled" type="xsd:boolean" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="item">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="gt2" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="resource" maxOccurs="unbounded">
                                        <xsd:complexType>
                                                <xsd:sequence>
                                                        <xsd:element name="jobmanager" maxOccurs="unbounded">
                                                                <xsd:simpleType>
                                                                        <xsd:restriction base="xsd:string"/>
                                                                    </xsd:simpleType>
                                                            </xsd:element>
                                                    </xsd:sequence>
                                                    <xsd:attribute name="host" type="xsd:string" use="required"/>
                                            </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="accessdata">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="type">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                            </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="glite" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="accessdata">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="type">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="bdii" minOccurs="0">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="wms" minOccurs="0">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                            <xsd:element name="lfc">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="service" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="url">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="resource" type="tns:serviceresource" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                            </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="arc" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="accessdata">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="type">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                            <xsd:element name="configpath">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="unicore" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="keystore">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="keypass">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="keyalias">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="subjectdn">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="truststore">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="trustpass">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="gae" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="local" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="gelmca" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="gt4" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="type">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="accessdata">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="resource" maxOccurs="unbounded">
                                        <xsd:complexType>
                                                <xsd:sequence>
                                                        <xsd:element name="jobmanager" maxOccurs="unbounded">
                                                                <xsd:simpleType>
                                                                        <xsd:restriction base="xsd:string"/>
                                                                    </xsd:simpleType>
                                                            </xsd:element>
                                                    </xsd:sequence>
                                                    <xsd:attribute name="host" type="xsd:string" use="required"/>
                                            </xsd:complexType>
                                    </xsd:element>
                            </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="lsf" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="queue" maxOccurs="unbounded">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                            </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="pbs" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="queue" maxOccurs="unbounded">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                            </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="boinc" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="wsdl">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="id">
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:string"/>
                                            </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="job" maxOccurs="unbounded">
                                        <xsd:complexType>
                                                <xsd:sequence>
                                                        <xsd:element name="name">
                                                                <xsd:simpleType>
                                                                        <xsd:restriction base="xsd:string"/>
                                                                    </xsd:simpleType>
                                                            </xsd:element>
                                                            <xsd:element name="state">
                                                                <xsd:simpleType>
                                                                        <xsd:restriction base="xsd:boolean"/>
                                                                    </xsd:simpleType>
                                                            </xsd:element>
                                                    </xsd:sequence>
                                            </xsd:complexType>
                                    </xsd:element>
                            </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="gbac" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="wsdl">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="id">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="job">
                                <xsd:complexType>
                                    <xsd:sequence/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="rundescurl">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="edgi" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="url">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="job"  minOccurs="1" maxOccurs="unbounded">
                    			<xsd:complexType>
			                        <xsd:sequence>
		    	                        <xsd:element name="vo" minOccurs="1" maxOccurs="unbounded">
			                    			<xsd:complexType>
						                        <xsd:sequence>
						                            <xsd:element name="ce" minOccurs="1" maxOccurs="unbounded">
						                                <xsd:simpleType>
						                                    <xsd:restriction base="xsd:string"/>
						                                </xsd:simpleType>
						                            </xsd:element>
						                          <xsd:element name="wms" minOccurs="0">
						                            <xsd:simpleType>
						                              <xsd:restriction base="xsd:string"/>
						                            </xsd:simpleType>
						                          </xsd:element>
						                        </xsd:sequence>
						                    	<xsd:attribute name="name" type="xsd:string"/>
						                    </xsd:complexType>
						                </xsd:element>
			                           <xsd:element name="exeurl" maxOccurs="unbounded" minOccurs="0">
			                              <xsd:complexType>
			                                 <xsd:attribute name="url" type="xsd:string"/>
			                              </xsd:complexType>
			                           </xsd:element>
			                        </xsd:sequence>
						            <xsd:attribute name="name" type="xsd:string"/>
                    			  <xsd:attribute name="executable" type="xsd:string"/>
                    			</xsd:complexType>
						    </xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element name="cloudbroker" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="url">  <!-- <url>1 -->
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="user">  <!-- <user>1 -->
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="password">  <!-- <password>1 -->
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="software"  minOccurs="0" maxOccurs="unbounded"> <!-- <software>* -->
                    			<xsd:complexType>
			                        <xsd:sequence>
		    	                        <xsd:element name="executable" minOccurs="1" maxOccurs="unbounded"> <!-- <executable>+ -->
			                    			<xsd:complexType>
						                    	<xsd:attribute name="name" type="xsd:string"/> <!-- <executable name=""> -->
						                    </xsd:complexType>
						                </xsd:element>
						            </xsd:sequence>
						            <xsd:attribute name="name" type="xsd:string"/> <!-- <software name=""> -->
						        </xsd:complexType>
						    </xsd:element>
                            <xsd:element name="resource"  minOccurs="0" maxOccurs="unbounded">  <!-- <resource>* -->
                    			<xsd:complexType>
			                        <xsd:sequence>
                                        <xsd:element name="region" minOccurs="1" maxOccurs="unbounded"> <!-- <region>+ -->
			                    			<xsd:complexType>
						                    	<xsd:attribute name="name" type="xsd:string"/> <!-- <region name=""> -->
						                    </xsd:complexType>
						                </xsd:element>
		    	                        <xsd:element name="instancetype" minOccurs="1" maxOccurs="unbounded"> <!-- <instance-type>+ -->
			                    			<xsd:complexType>
						                    	<xsd:attribute name="name" type="xsd:string"/> <!-- <instance-type name=""> -->
						                    </xsd:complexType>
						                </xsd:element>
						            </xsd:sequence>
						            <xsd:attribute name="name" type="xsd:string"/> <!-- <resource name=""> -->
						        </xsd:complexType>
                            </xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

            </xsd:choice>
            <xsd:element name="forward" maxOccurs="1" minOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="wsdl" minOccurs="0" maxOccurs="unbounded">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="usethis" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="enabled" type="xsd:boolean" use="required"/>
    </xsd:complexType>
    <xsd:simpleType name="certificate">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ssh key"/>
            <xsd:enumeration value="x509 GSI"/>
            <xsd:enumeration value="x509 RFC"/>
            <xsd:enumeration value="saml"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>

