branches/liferay-6.1.1/ext/guse/dci_bridge_service/src/conf/xml-resources/web-service-references/JobStatusService/wsdl/localhost_8080/wfi/JobStatusService.xsd_3.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://schemas.ggf.org/jsdl/2005/11/jsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://schemas.ggf.org/jsdl/2005/11/jsdl">

<xs:element name="Application" nillable="true" type="tns:Application_Type"></xs:element>

<xs:element name="ApplicationName" nillable="true" type="xs:string"></xs:element>

<xs:element name="ApplicationVersion" nillable="true" type="xs:string"></xs:element>

<xs:element name="CPUArchitecture" nillable="true" type="tns:CPUArchitecture_Type"></xs:element>

<xs:element name="CPUArchitectureName" nillable="true" type="tns:ProcessorArchitectureEnumeration"></xs:element>

<xs:element name="CandidateHosts" nillable="true" type="tns:CandidateHosts_Type"></xs:element>

<xs:element name="CreationFlag" nillable="true" type="tns:CreationFlagEnumeration"></xs:element>

<xs:element name="DataStaging" nillable="true" type="tns:DataStaging_Type"></xs:element>

<xs:element name="DeleteOnTermination" nillable="true" type="xs:boolean"></xs:element>

<xs:element name="Description" nillable="true" type="xs:string"></xs:element>

<xs:element name="DiskSpace" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="ExclusiveExecution" nillable="true" type="xs:boolean"></xs:element>

<xs:element name="FileName" nillable="true" type="xs:string"></xs:element>

<xs:element name="FileSystem" nillable="true" type="tns:FileSystem_Type"></xs:element>

<xs:element name="FileSystemType" nillable="true" type="tns:FileSystemTypeEnumeration"></xs:element>

<xs:element name="FilesystemName" nillable="true" type="xs:string"></xs:element>

<xs:element name="HostName" nillable="true" type="xs:string"></xs:element>

<xs:element name="IndividualCPUCount" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="IndividualCPUSpeed" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="IndividualCPUTime" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="IndividualDiskSpace" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="IndividualNetworkBandwidth" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="IndividualPhysicalMemory" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="IndividualVirtualMemory" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="JobAnnotation" nillable="true" type="xs:string"></xs:element>

<xs:element name="JobDefinition" nillable="true" type="tns:JobDefinition_Type"></xs:element>

<xs:element name="JobDescription" nillable="true" type="tns:JobDescription_Type"></xs:element>

<xs:element name="JobIdentification" nillable="true" type="tns:JobIdentification_Type"></xs:element>

<xs:element name="JobName" nillable="true" type="xs:string"></xs:element>

<xs:element name="JobProject" nillable="true" type="xs:string"></xs:element>

<xs:element name="MountPoint" nillable="true" type="xs:string"></xs:element>

<xs:element name="OperatingSystem" nillable="true" type="tns:OperatingSystem_Type"></xs:element>

<xs:element name="OperatingSystemName" nillable="true" type="tns:OperatingSystemTypeEnumeration"></xs:element>

<xs:element name="OperatingSystemType" nillable="true" type="tns:OperatingSystemType_Type"></xs:element>

<xs:element name="OperatingSystemVersion" nillable="true" type="xs:string"></xs:element>

<xs:element name="Resources" nillable="true" type="tns:Resources_Type"></xs:element>

<xs:element name="Source" nillable="true" type="tns:SourceTarget_Type"></xs:element>

<xs:element name="Target" nillable="true" type="tns:SourceTarget_Type"></xs:element>

<xs:element name="TotalCPUCount" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="TotalCPUTime" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="TotalDiskSpace" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="TotalPhysicalMemory" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="TotalResourceCount" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="TotalVirtualMemory" nillable="true" type="tns:RangeValue_Type"></xs:element>

<xs:element name="URI" nillable="true" type="xs:string"></xs:element>

<xs:complexType name="JobDefinition_Type">
<xs:sequence>
<xs:element name="JobDescription" type="tns:JobDescription_Type"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:attribute name="id" type="xs:ID"></xs:attribute>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="JobDescription_Type">
<xs:sequence>
<xs:element name="JobIdentification" type="tns:JobIdentification_Type" minOccurs="0"></xs:element>
<xs:element name="Application" type="tns:Application_Type" minOccurs="0"></xs:element>
<xs:element name="Resources" type="tns:Resources_Type" minOccurs="0"></xs:element>
<xs:element name="DataStaging" type="tns:DataStaging_Type" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="JobIdentification_Type">
<xs:sequence>
<xs:element name="JobName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="JobAnnotation" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="JobProject" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="Resources_Type">
<xs:sequence>
<xs:element name="CandidateHosts" type="tns:CandidateHosts_Type" minOccurs="0"></xs:element>
<xs:element name="FileSystem" type="tns:FileSystem_Type" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="ExclusiveExecution" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="OperatingSystem" type="tns:OperatingSystem_Type" minOccurs="0"></xs:element>
<xs:element name="CPUArchitecture" type="tns:CPUArchitecture_Type" minOccurs="0"></xs:element>
<xs:element name="IndividualCPUSpeed" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="IndividualCPUTime" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="IndividualCPUCount" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="IndividualNetworkBandwidth" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="IndividualPhysicalMemory" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="IndividualVirtualMemory" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="IndividualDiskSpace" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="TotalCPUTime" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="TotalCPUCount" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="TotalPhysicalMemory" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="TotalVirtualMemory" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="TotalDiskSpace" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:element name="TotalResourceCount" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="CandidateHosts_Type">
<xs:sequence>
<xs:element name="HostName" type="xs:string" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileSystem_Type">
<xs:sequence>
<xs:element name="FileSystemType" type="tns:FileSystemTypeEnumeration" minOccurs="0"></xs:element>
<xs:element name="Description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="MountPoint" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DiskSpace" type="tns:RangeValue_Type" minOccurs="0"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:attribute name="name" type="xs:NCName" use="required"></xs:attribute>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="RangeValue_Type">
<xs:sequence>
<xs:element name="UpperBoundedRange" type="tns:Boundary_Type" minOccurs="0"></xs:element>
<xs:element name="LowerBoundedRange" type="tns:Boundary_Type" minOccurs="0"></xs:element>
<xs:element name="Exact" type="tns:Exact_Type" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="Range" type="tns:Range_Type" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="Boundary_Type">
<xs:simpleContent>
<xs:extension base="xs:double">
<xs:attribute name="exclusiveBound" type="xs:boolean"></xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>

<xs:complexType name="Exact_Type">
<xs:simpleContent>
<xs:extension base="xs:double">
<xs:attribute name="epsilon" type="xs:double"></xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>

<xs:complexType name="Range_Type">
<xs:sequence>
<xs:element name="LowerBound" type="tns:Boundary_Type"></xs:element>
<xs:element name="UpperBound" type="tns:Boundary_Type"></xs:element>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="OperatingSystem_Type">
<xs:sequence>
<xs:element name="OperatingSystemType" type="tns:OperatingSystemType_Type" minOccurs="0"></xs:element>
<xs:element name="OperatingSystemVersion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Description" type="xs:string" minOccurs="0"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="OperatingSystemType_Type">
<xs:sequence>
<xs:element name="OperatingSystemName" type="tns:OperatingSystemTypeEnumeration"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="CPUArchitecture_Type">
<xs:sequence>
<xs:element name="CPUArchitectureName" type="tns:ProcessorArchitectureEnumeration"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="SourceTarget_Type">
<xs:sequence>
<xs:element name="URI" type="xs:anyURI" minOccurs="0"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="DataStaging_Type">
<xs:sequence>
<xs:element name="FileName" type="xs:string"></xs:element>
<xs:element name="FilesystemName" type="xs:NCName" minOccurs="0"></xs:element>
<xs:element name="CreationFlag" type="tns:CreationFlagEnumeration"></xs:element>
<xs:element name="DeleteOnTermination" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="Source" type="tns:SourceTarget_Type" minOccurs="0"></xs:element>
<xs:element name="Target" type="tns:SourceTarget_Type" minOccurs="0"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:attribute name="name" type="xs:NCName"></xs:attribute>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:complexType name="Application_Type">
<xs:sequence>
<xs:element name="ApplicationName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ApplicationVersion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Description" type="xs:string" minOccurs="0"></xs:element>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"></xs:any>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"></xs:anyAttribute>
</xs:complexType>

<xs:simpleType name="FileSystemTypeEnumeration">
<xs:restriction base="xs:string">
<xs:enumeration value="swap"></xs:enumeration>
<xs:enumeration value="temporary"></xs:enumeration>
<xs:enumeration value="spool"></xs:enumeration>
<xs:enumeration value="normal"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="OperatingSystemTypeEnumeration">
<xs:restriction base="xs:string">
<xs:enumeration value="Unknown"></xs:enumeration>
<xs:enumeration value="MACOS"></xs:enumeration>
<xs:enumeration value="ATTUNIX"></xs:enumeration>
<xs:enumeration value="DGUX"></xs:enumeration>
<xs:enumeration value="DECNT"></xs:enumeration>
<xs:enumeration value="Tru64_UNIX"></xs:enumeration>
<xs:enumeration value="OpenVMS"></xs:enumeration>
<xs:enumeration value="HPUX"></xs:enumeration>
<xs:enumeration value="AIX"></xs:enumeration>
<xs:enumeration value="MVS"></xs:enumeration>
<xs:enumeration value="OS400"></xs:enumeration>
<xs:enumeration value="OS_2"></xs:enumeration>
<xs:enumeration value="JavaVM"></xs:enumeration>
<xs:enumeration value="MSDOS"></xs:enumeration>
<xs:enumeration value="WIN3x"></xs:enumeration>
<xs:enumeration value="WIN95"></xs:enumeration>
<xs:enumeration value="WIN98"></xs:enumeration>
<xs:enumeration value="WINNT"></xs:enumeration>
<xs:enumeration value="WINCE"></xs:enumeration>
<xs:enumeration value="NCR3000"></xs:enumeration>
<xs:enumeration value="NetWare"></xs:enumeration>
<xs:enumeration value="OSF"></xs:enumeration>
<xs:enumeration value="DC_OS"></xs:enumeration>
<xs:enumeration value="Reliant_UNIX"></xs:enumeration>
<xs:enumeration value="SCO_UnixWare"></xs:enumeration>
<xs:enumeration value="SCO_OpenServer"></xs:enumeration>
<xs:enumeration value="Sequent"></xs:enumeration>
<xs:enumeration value="IRIX"></xs:enumeration>
<xs:enumeration value="Solaris"></xs:enumeration>
<xs:enumeration value="SunOS"></xs:enumeration>
<xs:enumeration value="U6000"></xs:enumeration>
<xs:enumeration value="ASERIES"></xs:enumeration>
<xs:enumeration value="TandemNSK"></xs:enumeration>
<xs:enumeration value="TandemNT"></xs:enumeration>
<xs:enumeration value="BS2000"></xs:enumeration>
<xs:enumeration value="LINUX"></xs:enumeration>
<xs:enumeration value="Lynx"></xs:enumeration>
<xs:enumeration value="XENIX"></xs:enumeration>
<xs:enumeration value="VM"></xs:enumeration>
<xs:enumeration value="Interactive_UNIX"></xs:enumeration>
<xs:enumeration value="BSDUNIX"></xs:enumeration>
<xs:enumeration value="FreeBSD"></xs:enumeration>
<xs:enumeration value="NetBSD"></xs:enumeration>
<xs:enumeration value="GNU_Hurd"></xs:enumeration>
<xs:enumeration value="OS9"></xs:enumeration>
<xs:enumeration value="MACH_Kernel"></xs:enumeration>
<xs:enumeration value="Inferno"></xs:enumeration>
<xs:enumeration value="QNX"></xs:enumeration>
<xs:enumeration value="EPOC"></xs:enumeration>
<xs:enumeration value="IxWorks"></xs:enumeration>
<xs:enumeration value="VxWorks"></xs:enumeration>
<xs:enumeration value="MiNT"></xs:enumeration>
<xs:enumeration value="BeOS"></xs:enumeration>
<xs:enumeration value="HP_MPE"></xs:enumeration>
<xs:enumeration value="NextStep"></xs:enumeration>
<xs:enumeration value="PalmPilot"></xs:enumeration>
<xs:enumeration value="Rhapsody"></xs:enumeration>
<xs:enumeration value="Windows_2000"></xs:enumeration>
<xs:enumeration value="Dedicated"></xs:enumeration>
<xs:enumeration value="OS_390"></xs:enumeration>
<xs:enumeration value="VSE"></xs:enumeration>
<xs:enumeration value="TPF"></xs:enumeration>
<xs:enumeration value="Windows_R_Me"></xs:enumeration>
<xs:enumeration value="Caldera_Open_UNIX"></xs:enumeration>
<xs:enumeration value="OpenBSD"></xs:enumeration>
<xs:enumeration value="Not_Applicable"></xs:enumeration>
<xs:enumeration value="Windows_XP"></xs:enumeration>
<xs:enumeration value="z_OS"></xs:enumeration>
<xs:enumeration value="other"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ProcessorArchitectureEnumeration">
<xs:restriction base="xs:string">
<xs:enumeration value="sparc"></xs:enumeration>
<xs:enumeration value="powerpc"></xs:enumeration>
<xs:enumeration value="x86"></xs:enumeration>
<xs:enumeration value="x86_32"></xs:enumeration>
<xs:enumeration value="x86_64"></xs:enumeration>
<xs:enumeration value="parisc"></xs:enumeration>
<xs:enumeration value="mips"></xs:enumeration>
<xs:enumeration value="ia64"></xs:enumeration>
<xs:enumeration value="arm"></xs:enumeration>
<xs:enumeration value="other"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="CreationFlagEnumeration">
<xs:restriction base="xs:string">
<xs:enumeration value="overwrite"></xs:enumeration>
<xs:enumeration value="append"></xs:enumeration>
<xs:enumeration value="dontOverwrite"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>