branches/guse-3.6.1_update/ext/guse/dci_bridge_service/src/java/META-INF/MBService.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b02-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b02-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="MBServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://n55.hpcc.sztaki.hu:8080/MBService/MBService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addBroker">
<part name="parameters" element="tns:addBroker"></part>
</message>
<message name="addBrokerResponse">
<part name="parameters" element="tns:addBrokerResponse"></part>
</message>
<message name="submitJSDL">
<part name="parameters" element="tns:submitJSDL"></part>
</message>
<message name="submitJSDLResponse">
<part name="parameters" element="tns:submitJSDLResponse"></part>
</message>
<message name="signalJobResult">
<part name="parameters" element="tns:signalJobResult"></part>
</message>
<message name="signalJobResultResponse">
<part name="parameters" element="tns:signalJobResultResponse"></part>
</message>
<message name="getBrokerPerf">
<part name="parameters" element="tns:getBrokerPerf"></part>
</message>
<message name="getBrokerPerfResponse">
<part name="parameters" element="tns:getBrokerPerfResponse"></part>
</message>
<message name="getBrokerNames">
<part name="parameters" element="tns:getBrokerNames"></part>
</message>
<message name="getBrokerNamesResponse">
<part name="parameters" element="tns:getBrokerNamesResponse"></part>
</message>
<message name="addVO">
<part name="parameters" element="tns:addVO"></part>
</message>
<message name="addVOResponse">
<part name="parameters" element="tns:addVOResponse"></part>
</message>
<message name="getVOLoad">
<part name="parameters" element="tns:getVOLoad"></part>
</message>
<message name="getVOLoadResponse">
<part name="parameters" element="tns:getVOLoadResponse"></part>
</message>
<message name="getVONames">
<part name="parameters" element="tns:getVONames"></part>
</message>
<message name="getVONamesResponse">
<part name="parameters" element="tns:getVONamesResponse"></part>
</message>
<portType name="MBService">
<operation name="addBroker">
<input message="tns:addBroker"></input>
<output message="tns:addBrokerResponse"></output>
</operation>
<operation name="submitJSDL">
<input message="tns:submitJSDL"></input>
<output message="tns:submitJSDLResponse"></output>
</operation>
<operation name="signalJobResult">
<input message="tns:signalJobResult"></input>
<output message="tns:signalJobResultResponse"></output>
</operation>
<operation name="getBrokerPerf">
<input message="tns:getBrokerPerf"></input>
<output message="tns:getBrokerPerfResponse"></output>
</operation>
<operation name="getBrokerNames">
<input message="tns:getBrokerNames"></input>
<output message="tns:getBrokerNamesResponse"></output>
</operation>
<operation name="addVO">
<input message="tns:addVO"></input>
<output message="tns:addVOResponse"></output>
</operation>
<operation name="getVOLoad">
<input message="tns:getVOLoad"></input>
<output message="tns:getVOLoadResponse"></output>
</operation>
<operation name="getVONames">
<input message="tns:getVONames"></input>
<output message="tns:getVONamesResponse"></output>
</operation>
</portType>
<binding name="MBServicePortBinding" type="tns:MBService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addBroker">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="submitJSDL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="signalJobResult">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBrokerPerf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBrokerNames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addVO">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVOLoad">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVONames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="MBServiceService">
<port name="MBServicePort" binding="tns:MBServicePortBinding">
<soap:address location="http://n55.hpcc.sztaki.hu:8080/MBService/MBService"></soap:address>
</port>
</service>
</definitions>