branches/liferay-6.1.1/ext/guse/wspgrade/web/WEB-INF/wsdl/serviceInformationImpl/guse.hu/storage/services/monitoring/SystemInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lpds.sztaki.hu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lpds.sztaki.hu/" name="SystemInformationService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lpds.sztaki.hu/" schemaLocation="http://guse.hu/storage/services/monitoring/SystemInformation.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="getInformation">
<part name="parameters" element="tns:getInformation"></part>
</message>
<message name="getInformationResponse">
<part name="parameters" element="tns:getInformationResponse"></part>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="getAllInformationCommands">
<part name="parameters" element="tns:getAllInformationCommands"></part>
</message>
<message name="getAllInformationCommandsResponse">
<part name="parameters" element="tns:getAllInformationCommandsResponse"></part>
</message>
<portType name="SystemInformation">
<operation name="getInformation">
<input message="tns:getInformation"></input>
<output message="tns:getInformationResponse"></output>
</operation>
<operation name="ping">
<input message="tns:ping"></input>
<output message="tns:pingResponse"></output>
</operation>
<operation name="getAllInformationCommands">
<input message="tns:getAllInformationCommands"></input>
<output message="tns:getAllInformationCommandsResponse"></output>
</operation>
</portType>
<binding name="SystemInformationPortBinding" type="tns:SystemInformation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getInformation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllInformationCommands">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SystemInformationService">
<port name="SystemInformationPort" binding="tns:SystemInformationPortBinding">
<soap:address location="http://localhost:8080/gUSEDemoWebServices/SystemInformation"></soap:address>
</port>
</service>
</definitions>