trunk/ext/guse/dcibridge_cli/xml-resources/web-service-references/ResourceConfiguration_1/wsdl/guse.sztaki.hu_443/dci_bridge_service/ResourceConfiguration.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="data.dci" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="data.dci">

<xs:complexType name="middleware">
<xs:sequence>
<xs:element name="item" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="certificate" type="tns:certificate" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="plugin" type="xs:string"></xs:element>
<xs:element name="threads" type="xs:short"></xs:element>
</xs:sequence>
<xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
<xs:attribute name="enabled" type="xs:boolean" use="required"></xs:attribute>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="gt2" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="resource" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="jobmanager" type="xs:string" maxOccurs="unbounded"></xs:element>
</xs:sequence>
<xs:attribute name="host" type="xs:string" use="required"></xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="accessdata" type="xs:string"></xs:element>
<xs:element name="type" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="glite" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="accessdata" type="xs:string"></xs:element>
<xs:element name="type" type="xs:string"></xs:element>
<xs:element name="bdii" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="wms" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lfc" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="service" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="url" type="xs:string"></xs:element>
<xs:element name="resource" type="tns:serviceresource" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="arc" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="accessdata" type="xs:string"></xs:element>
<xs:element name="type" type="xs:string"></xs:element>
<xs:element name="configpath" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="unicore" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="keystore" type="xs:string"></xs:element>
<xs:element name="keypass" type="xs:string"></xs:element>
<xs:element name="keyalias" type="xs:string"></xs:element>
<xs:element name="subjectdn" type="xs:string"></xs:element>
<xs:element name="truststore" type="xs:string"></xs:element>
<xs:element name="trustpass" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="gae" minOccurs="0">
<xs:complexType>
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="local" minOccurs="0">
<xs:complexType>
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="gelmca" minOccurs="0">
<xs:complexType>
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="gt4" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="type" type="xs:string"></xs:element>
<xs:element name="accessdata" type="xs:string"></xs:element>
<xs:element name="resource" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="jobmanager" type="xs:string" maxOccurs="unbounded"></xs:element>
</xs:sequence>
<xs:attribute name="host" type="xs:string" use="required"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="lsf" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="queue" type="xs:string" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="pbs" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="queue" type="xs:string" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="boinc" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="wsdl" type="xs:string"></xs:element>
<xs:element name="id" type="xs:string"></xs:element>
<xs:element name="job" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"></xs:element>
<xs:element name="state" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="gbac" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="wsdl" type="xs:string"></xs:element>
<xs:element name="id" type="xs:string"></xs:element>
<xs:element name="job">
<xs:complexType>
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="rundescurl" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="edgi" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="url" type="xs:string"></xs:element>
<xs:element name="job" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="vo" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="ce" type="xs:string" maxOccurs="unbounded"></xs:element>
<xs:element name="wms" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="cloudbroker" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="url" type="xs:string"></xs:element>
<xs:element name="user" type="xs:string"></xs:element>
<xs:element name="password" type="xs:string"></xs:element>
<xs:element name="software" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="executable" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence></xs:sequence>
<xs:attribute name="name" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="resource" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="region" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence></xs:sequence>
<xs:attribute name="name" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
<xs:element name="instancetype" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence></xs:sequence>
<xs:attribute name="name" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="forward">
<xs:complexType>
<xs:sequence>
<xs:element name="wsdl" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
<xs:attribute name="usethis" type="xs:string"></xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
<xs:attribute name="enabled" type="xs:boolean" use="required"></xs:attribute>
</xs:complexType>

<xs:complexType name="serviceresource">
<xs:sequence>
<xs:element name="name" type="xs:string"></xs:element>
<xs:element name="inputs" type="xs:string"></xs:element>
</xs:sequence>
<xs:attribute name="port" type="xs:string"></xs:attribute>
</xs:complexType>

<xs:simpleType name="certificate">
<xs:restriction base="xs:string">
<xs:enumeration value="ssh key"></xs:enumeration>
<xs:enumeration value="x509 GSI"></xs:enumeration>
<xs:enumeration value="x509 RFC"></xs:enumeration>
<xs:enumeration value="saml"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>