branches/guse-3.5.8_update/ext/guse/dcibridge_cli/xml-resources/web-service-references/BESFactoryService/wsdl/guse.sztaki.hu_443/dci_bridge_service/BESFactoryService.wsdl_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bes-factory="http://schemas.ggf.org/bes/2006/08/bes-factory" xmlns:wsa="http://www.w3/org/2005/08/addressing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsaw="http://www.w3.org/2005/08/addressing" name="BESFactory" targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-factory">

  <wsdl:types>
    <xsd:schema xmlns:wsa="http://www.w3.org/2005/08/addressing" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-factory">

      <xsd:include schemaLocation="http://schemas.ggf.org/bes/2006/08/bes-factory"></xsd:include>

      <!-- Message Types -->
      <xsd:complexType name="CreateActivityType">
        <xsd:sequence>
          <xsd:element ref="bes-factory:ActivityDocument"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="CreateActivityResponseType">
        <xsd:sequence>
          <xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"></xsd:element>
          <xsd:element ref="bes-factory:ActivityDocument" minOccurs="0"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="GetActivityStatusesType">
        <xsd:sequence>
          <xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="GetActivityStatusesResponseType">
        <xsd:sequence>
          <xsd:element name="Response" type="bes-factory:GetActivityStatusResponseType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="TerminateActivitiesType">
        <xsd:sequence>
          <xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="TerminateActivitiesResponseType">
        <xsd:sequence>
          <xsd:element name="Response" type="bes-factory:TerminateActivityResponseType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="GetActivityDocumentsType">
        <xsd:sequence>
          <xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="GetActivityDocumentsResponseType">
        <xsd:sequence>
          <xsd:element name="Response" type="bes-factory:GetActivityDocumentResponseType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="GetFactoryAttributesDocumentType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="GetFactoryAttributesDocumentResponseType">
        <xsd:sequence>
          <xsd:element ref="bes-factory:FactoryResourceAttributesDocument"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <!-- Fault Types  -->
      <xsd:complexType name="NotAuthorizedFaultType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="NotAcceptingNewActivitiesFaultType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="UnsupportedFeatureFaultType">
        <xsd:sequence>
          <xsd:element name="Feature" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="CantApplyOperationToCurrentStateFaultType">
        <xsd:sequence>
          <xsd:element name="ActivityStatus" type="bes-factory:ActivityStatusType"></xsd:element>
          <xsd:element name="Message" type="xsd:string"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="OperationWillBeAppliedEventuallyFaultType">
        <xsd:sequence>
          <xsd:element name="ActivityStatus" type="bes-factory:ActivityStatusType"></xsd:element>
          <xsd:element name="Message" type="xsd:string"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="InvalidActivityIdentifierFaultType">
        <xsd:sequence>
          <xsd:element name="Message" type="xsd:string"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <xsd:complexType name="InvalidRequestMessageFaultType">
        <xsd:sequence>
          <xsd:element name="InvalidElement" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
          <xsd:element name="Message" type="xsd:string"></xsd:element>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
      </xsd:complexType>

      <!-- Message Elements -->
      <xsd:element name="CreateActivity" type="bes-factory:CreateActivityType"></xsd:element>
      <xsd:element name="CreateActivityResponse" type="bes-factory:CreateActivityResponseType"></xsd:element>
      <xsd:element name="GetActivityStatuses" type="bes-factory:GetActivityStatusesType"></xsd:element>
      <xsd:element name="GetActivityStatusesResponse" type="bes-factory:GetActivityStatusesResponseType"></xsd:element>
      <xsd:element name="TerminateActivities" type="bes-factory:TerminateActivitiesType"></xsd:element>
      <xsd:element name="TerminateActivitiesResponse" type="bes-factory:TerminateActivitiesResponseType"></xsd:element>
      <xsd:element name="GetActivityDocuments" type="bes-factory:GetActivityDocumentsType"></xsd:element>
      <xsd:element name="GetActivityDocumentsResponse" type="bes-factory:GetActivityDocumentsResponseType"></xsd:element>
      <xsd:element name="GetFactoryAttributesDocument" type="bes-factory:GetFactoryAttributesDocumentType"></xsd:element>
      <xsd:element name="GetFactoryAttributesDocumentResponse" type="bes-factory:GetFactoryAttributesDocumentResponseType"></xsd:element>

      <!-- Fault Elements -->
      <xsd:element name="NotAuthorizedFault" type="bes-factory:NotAuthorizedFaultType"></xsd:element>
      <xsd:element name="NotAcceptingNewActivitiesFault" type="bes-factory:NotAcceptingNewActivitiesFaultType"></xsd:element>
      <xsd:element name="UnsupportedFeatureFault" type="bes-factory:UnsupportedFeatureFaultType"></xsd:element>
      <xsd:element name="CantApplyOperationToCurrentStateFault" type="bes-factory:CantApplyOperationToCurrentStateFaultType"></xsd:element>
      <xsd:element name="OperationWillBeAppliedEventuallyFault" type="bes-factory:OperationWillBeAppliedEventuallyFaultType"></xsd:element>
      <xsd:element name="InvalidActivityIdentifierFault" type="bes-factory:InvalidActivityIdentifierFaultType"></xsd:element>
      <xsd:element name="InvalidRequestMessageFault" type="bes-factory:InvalidRequestMessageFaultType"></xsd:element>
    </xsd:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="CreateActivityRequest">
    <wsdl:part name="parameters" element="bes-factory:CreateActivity"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="CreateActivityResponse">
    <wsdl:part name="parameters" element="bes-factory:CreateActivityResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetActivityStatusesRequest">
    <wsdl:part name="parameters" element="bes-factory:GetActivityStatuses"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetActivityStatusesResponse">
    <wsdl:part name="parameters" element="bes-factory:GetActivityStatusesResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="TerminateActivitiesRequest">
    <wsdl:part name="parameters" element="bes-factory:TerminateActivities"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="TerminateActivitiesResponse">
    <wsdl:part name="parameters" element="bes-factory:TerminateActivitiesResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetActivityDocumentsRequest">
    <wsdl:part name="parameters" element="bes-factory:GetActivityDocuments"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetActivityDocumentsResponse">
    <wsdl:part name="parameters" element="bes-factory:GetActivityDocumentsResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetFactoryAttributesDocumentRequest">
    <wsdl:part name="parameters" element="bes-factory:GetFactoryAttributesDocument"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetFactoryAttributesDocumentResponse">
    <wsdl:part name="parameters" element="bes-factory:GetFactoryAttributesDocumentResponse"></wsdl:part>
  </wsdl:message>

  <!-- Fault Messages -->
  <wsdl:message name="NotAuthorizedFault">
    <wsdl:part name="Detail" element="bes-factory:NotAuthorizedFault"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="NotAcceptingNewActivitiesFault">
    <wsdl:part name="Detail" element="bes-factory:NotAcceptingNewActivitiesFault"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="UnsupportedFeatureFault">
    <wsdl:part name="Detail" element="bes-factory:UnsupportedFeatureFault"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="CantApplyOperationToCurrentStateFault">
    <wsdl:part name="Detail" element="bes-factory:CantApplyOperationToCurrentStateFault"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="OperationWillBeAppliedEventuallyFault">
    <wsdl:part name="Detail" element="bes-factory:OperationWillBeAppliedEventuallyFault"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="InvalidActivityIdentifierFault">
    <wsdl:part name="Detail" element="bes-factory:InvalidActivityIdentifierFault"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="InvalidRequestMessageFault">
    <wsdl:part name="Detail" element="bes-factory:InvalidRequestMessageFault"></wsdl:part>
  </wsdl:message>

  <!-- Port Type -->
  <wsdl:portType name="BESFactoryPortType">

    <wsdl:operation name="CreateActivity">
      <wsdl:input name="CreateActivity" message="bes-factory:CreateActivityRequest" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/CreateActivity"></wsdl:input>
      <wsdl:output name="CreateActivityResponse" message="bes-factory:CreateActivityResponse" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/CreateActivityResponse"></wsdl:output>
      <wsdl:fault name="NotAuthorizedFault" message="bes-factory:NotAuthorizedFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
      <wsdl:fault name="NotAcceptingNewActivitiesFault" message="bes-factory:NotAcceptingNewActivitiesFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
      <wsdl:fault name="UnsupportedFeatureFault" message="bes-factory:UnsupportedFeatureFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
      <wsdl:fault name="InvalidRequestMessageFault" message="bes-factory:InvalidRequestMessageFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetActivityStatuses">
      <wsdl:input name="GetActivityStatuses" message="bes-factory:GetActivityStatusesRequest" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityStatuses"></wsdl:input>
      <wsdl:output name="GetActivityStatusesResponse" message="bes-factory:GetActivityStatusesResponse" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityStatusesResponse"></wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault" message="bes-factory:InvalidRequestMessageFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="TerminateActivities">
      <wsdl:input name="TerminateActivities" message="bes-factory:TerminateActivitiesRequest" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/TerminateActivities"></wsdl:input>
      <wsdl:output name="TerminateActivitiesResponse" message="bes-factory:TerminateActivitiesResponse" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/TerminateActivitiesResponse"></wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault" message="bes-factory:InvalidRequestMessageFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetActivityDocuments">
      <wsdl:input name="GetActivityDocuments" message="bes-factory:GetActivityDocumentsRequest" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityDocuments"></wsdl:input>
      <wsdl:output name="GetActivityDocumentsResponse" message="bes-factory:GetActivityDocumentsResponse" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityDocumentsResponse"></wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault" message="bes-factory:InvalidRequestMessageFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetFactoryAttributesDocument">
      <wsdl:input name="GetFactoryAttributesDocument" message="bes-factory:GetFactoryAttributesDocumentRequest" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetFactoryAttributesDocument"></wsdl:input>
      <wsdl:output name="GetFactoryAttributesDocumentResponse" message="bes-factory:GetFactoryAttributesDocumentResponse" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetFactoryAttributesDocumentResponse"></wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault" message="bes-factory:InvalidRequestMessageFault" wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Bindings -->
  <wsdl:binding name="BESFactoryBinding" type="bes-factory:BESFactoryPortType">
    <wsp:PolicyReference URI="#BESFactoryBindingPolicy"></wsp:PolicyReference>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>

    <wsdl:operation name="CreateActivity">
      <soap:operation soapAction="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/CreateActivity"></soap:operation>
      <wsdl:input name="CreateActivity">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="CreateActivityResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="NotAuthorizedFault">
        <soap:fault name="NotAuthorizedFault" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="NotAcceptingNewActivitiesFault">
        <soap:fault name="NotAcceptingNewActivitiesFault" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedFeatureFault">
        <soap:fault name="UnsupportedFeatureFault" use="literal"></soap:fault>
      </wsdl:fault>
      <wsdl:fault name="InvalidRequestMessageFault">
        <soap:fault name="InvalidRequestMessageFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetActivityStatuses">
      <soap:operation soapAction="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityStatuses"></soap:operation>
      <wsdl:input name="GetActivityStatuses">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="GetActivityStatusesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault">
        <soap:fault name="InvalidRequestMessageFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="TerminateActivities">
      <soap:operation soapAction="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/TerminateActivities"></soap:operation>
      <wsdl:input name="TerminateActivities">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="TerminateActivitiesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault">
        <soap:fault name="InvalidRequestMessageFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetActivityDocuments">
      <soap:operation soapAction="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetActivityDocuments"></soap:operation>
      <wsdl:input name="GetActivityDocuments">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="GetActivityDocumentsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault">
        <soap:fault name="InvalidRequestMessageFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetFactoryAttributesDocument">
      <soap:operation soapAction="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/GetFactoryAttributesDocument"></soap:operation>
      <wsdl:input name="GetFactoryAttributesDocument">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="GetFactoryAttributesDocumentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="InvalidRequestMessageFault">
        <soap:fault name="InvalidRequestMessageFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsp:Policy wsu:Id="BESFactoryBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"></wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>